[{:db/id #db/id[:db.part/db]
 :db/ident :note/title
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "An note's title"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :note/date
 :db/valueType :db.type/string
 :db/cardinality :db.cardinality/one
 :db/doc "An note's date"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :note/indent
 :db/valueType :db.type/long
 :db/cardinality :db.cardinality/one
 :db/doc "An note's indent"
 :db.install/_attribute :db.part/db}

{:db/id #db/id[:db.part/db]
 :db/ident :note/index
 :db/valueType :db.type/long
 :db/cardinality :db.cardinality/one
 :db/doc "An note's index"
 :db.install/_attribute :db.part/db}
]
